
.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
}

.main_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3% ;
  width: 40%;
  max-width: 300px; /*max-width tbc */
  height: auto;
}

.form-rounded { /* Form Field and Submit*/
  border-radius: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

 .home-form { /* Form Fields only*/
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  width: 82%;
  border-color: #4169E1;
  padding-top: 2px;
  padding-bottom: 2px;
  }

  .btn-primary{ /*submit button only*/
  font-weight: 600;
  margin-top: 3% ;
  }
